$colorNegro: black;
$colorBlanco:#fff;
$azul_0:#384670;
$azul_c:#20368c;
$azul_e:#5c70ae;

$colorRGBA125:rgba(0,0,0,.125);
$colorRGBA25:rgba(0,0,0,0.25);
$colorRGBA39:rgba(0, 0, 0, 0.39);
$colorRGBA55:rgba(0, 0, 0, 0.55);

$fuenteOswald:'Oswald', sans-serif;
$fuentePoppins:'Poppins', sans-serif;

$bordeRedondeado:10px 10px 0px 0px;
