body{
    /*Centrar todo lo del body*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container{
    width: 600px;
    height: 600px;
    background-color: #fde68a;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container__item{
    width: 100px;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size:medium; 
    border-color: #729ed8;
    background-color: #bfdbfe;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__item:nth-child(2){
    height: 100px;
}

.container__item:nth-child(3){
    height: 50px;
}

.container__item:nth-child(4){
    height: 80px;
}