.container{
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 8% 1fr 11%;
    grid-template-areas: "header header header" "aside main section" "footer footer footer";
    gap: 10px;
}

.header{
    grid-area: header;
    border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}

.aside{
    grid-area: aside;
    border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}

.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr;
    grid-template-areas: "main__fila1" "main__fila2";
    gap: 10px;
}

.main__fila1{
    grid-area: main__fila1;
    border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}

.main__fila2{

    grid-area: main__fila2;
    border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}

.section{

    grid-area: section;
    border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}

.footer{

    grid-area: footer;
    border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}